<?=Js::script('MAX_SIZE = '.($this->MAX_SIZE).'*1048576;')?>

<div id="<?=$this->section?>" class="form-list">
    <form action="<?=$this->url?>save/" class="frm-<?=$this->section?>" method="post" enctype="multipart/form-data">
        <ul class="row-list">
            <li class="title">
                <!-- <span class="row-title row-imagem">Imagem</span> -->
                <span class="row-title row-produtoconfig row-title-0">Item</span>
                <!-- <span class="row-title row-descricao row-title-1">Descrição</span> -->
                <!-- <span class="row-title row-title-2">Subprodutoconfig de</span> -->
                <!-- <span class="row-title row-desconto row-title-3">Desconto</span> -->
                <? if(@$this->login_permissoes[$this->section]->w){ ?>
                <span class="row-title row-ordem row-title-4">Ordem</span>
                <span class="row-title row-ativo row-title-5">Exibir</span>
                <? } ?>
            </li>
            <? if($this->produtoconfigs){ foreach($this->produtoconfigs as $row){ ?>
            <li>
                <!-- <?=$this->section?>:<?=$foto->path?> -->
                <? if(0 && @$this->login_permissoes[$this->section]->x){ ?>
                <a href="#" class="row-action row-action-del">Excluir</a>
                <? } ?>
                
                <?/*<div class="foto-container">
                    <? $foto = $row->foto ? $this->section.':'.$row->foto->path : 'not-found.jpg'; ?>
                    <a href="<?=URL.'/img/'.$foto?>" class="row-foto <?=$row->foto?"fbimg":''?>">
                        <img src='<?=URL.'/img/'.$foto.'?w=20&h=20'?>' />
                    </a>
                    <? if(@$this->login_permissoes[$this->section]->w){ ?>
                    <a href="#file_upload_container" class="row-foto-edit" data-id="<?=$row->id?>">Alterar</a>
                    <? } ?>
                    <? if(@$this->login_permissoes[$this->section]->x){ ?>
                    <a href="#" class="row-foto-del">Excluir</a>
                    <? } ?>
                    <? if(@$this->login_permissoes[$this->section]->w){ ?>
                    <a href="#file_upload_container" class="row-foto-new" data-id="<?=$row->id?>">Inserir</a>
                    <? } ?>
                    <input type="hidden" name="foto_id[]" class="foto_id" value="<?=$row->foto_id?$row->foto_id:0?>" />
                </div>*/?>
                
                <? if($this->edit_mode){ ?>
                <input type="text" class="txt row-descricao" name="descricao[]" value="<?=$row->descricao?>" />
                <input type="text" class="txt row-alias" name="alias[]" value="<?=$row->alias?>" />
                <!-- <input type="text" class="txt row-body" name="body[]" value="<?=$row->body?>" /> -->
                <? } else { // /if $this->edit_mode ?>
                <span class="span-descricao">
                    <?=$row->descricao?>
                </span>
                <input type="hidden" name="descricao[]" value="<?=$row->descricao?>">
                <input type="hidden" name="alias[]" value="<?=$row->alias?>">
                <? } // /if $this->edit_mode ?>
                
                <? /*$attribs = array('class'=>'txt row-produtoconfig_id'); ?>
                <?// if($row->is_parent) $attribs['disabled'] = 'disabled'; ?>
                <? $options = $row->is_parent ? array('__none__'=>'-------------------------------') : $this->produtoconfigs_pai_kv; ?>
                <? if(isset($options[$row->id])) unset($options[$row->id]); ?>
                <?=$this->formSelect('produtoconfig_id',$row->produtoconfig_id,$attribs,$options)*/?>
                
                <!-- <input type="text" class="txt row-desconto" name="desconto[]" value="<?=$row->desconto?>" maxlength="3" /> <span class="pct">%</span> -->
                <? if(@$this->login_permissoes[$this->section]->w){ ?>
                <a href="#" class="row-order order-up" title="Clique ou arraste para ordenar"></a>
                <a href="#" class="row-order order-down" title="Clique ou arraste para ordenar"></a>
                <input type="checkbox" class="txt row-status_id" name="status_id_check[]" <? if($row->status_id==1){ ?>checked="checked"<? } ?> />
                <? } ?>
                <input type="hidden" name="status_id[]" value="<?=$row->status_id?>" />
                <input type="hidden" class="row-id" name="id[]" value="<?=$row->id?>" />
                <input type="hidden" class="txt row-ordem" name="ordem[]" value="<?=$row->ordem?>" />
            </li>
            <? }} ?>
        </ul>
        
        <!-- jQuery template -->
        <script type="text/x-jquery-tmpl" id="tmplRow">
            <li>
                <? if(0 && @$this->login_permissoes[$this->section]->x){ ?>
                <a href="#" class="row-action row-action-del">Excluir</a>
                <? } ?>
                
                <?/*<div class="foto-container">
                    <a href="#" class="row-foto">
                        <img src='<?=URL?>/img/not-found.jpg?w=20&h=20' />
                    </a>
                    <a href="#file_upload_container" class="row-foto-edit" data-id="">Alterar</a>
                    <? if(@$this->login_permissoes[$this->section]->x){ ?>
                    <a href="#" class="row-foto-del">Excluir</a>
                    <? } ?>
                    <? if(@$this->login_permissoes[$this->section]->w){ ?>
                    <a href="#file_upload_container" class="row-foto-new">Inserir</a>
                    <? } ?>
                    <input type="hidden" name="foto_id[]" class="foto_id" value="0" />
                </div>*/?>
                
                <input type="text" class="txt row-descricao" name="descricao[]" value="" />
                <input type="text" class="txt row-alias" name="alias[]" value="" />
                <!-- <input type="text" class="txt row-body" name="body[]" value="" /> -->
                
                <?/*<select class="txt row-produtoconfig_id" name="produtoconfig_id[]">
                    <? foreach($this->produtoconfigs_pai_kv as $k=>$v){ ?>
                    <option value="<?=$k?>"><?=$v?></option>
                    <? } ?>
                </select>*/?>
                
                <?/*<input type="text" class="txt row-desconto" name="desconto[]" value="" maxlength="3" /> <span class="pct">%</span>*/?>
                <? if(@$this->login_permissoes[$this->section]->x){ ?>
                <a href="#" class="row-order order-up" title="Clique ou arraste para ordenar"></a>
                <a href="#" class="row-order order-down" title="Clique ou arraste para ordenar"></a>
                <input type="checkbox" class="txt row-status_id" name="status_id_check[]" checked="checked" />
                <? } ?>
                <input type="hidden" name="status_id[]" value="1" />
                <input type="hidden" class="row-id" name="id[]" value="0" />
                <input type="hidden" class="txt row-ordem" name="ordem[]" value="" />
            </li>
        </script>
        <!-- /jQuery template -->
        
        <? if(@$this->login_permissoes[$this->section]->w){ ?>
        <div class="row-tools">
            <? if($this->edit_mode){ ?>
            <a href="#" class="row-add">+ Adicionar item</a>
            <? } // /if $this->edit_mode ?>
            <div class="row-status"><ul></ul></div>
        </div>
        
        <div class="bt-container">
            <input type="submit" class="bt" value="Salvar" id="submit" />
        </div>
        <? } ?>
    </form>
</div>

<div class="fboxc" id="fotos">
    <link rel="stylesheet" href="<?=CSS_PATH?>/jquery-ui/jquery-ui.css" id="theme" />
    <div id="file_upload_container">
        <form method="POST" enctype="multipart/form-data" action="#" class="file_upload" id="file_upload">
            <button>Enviar foto<?=$this->MAX_FOTOS?' (Máx. '.$this->MAX_FOTOS.')':''?></button>
            <div>Enviar foto<?=$this->MAX_FOTOS?' (Máx. '.$this->MAX_FOTOS.')':''?></div>
            <input type="file" name="file" />
        </form>
        
        <table id="file_upload_list" cellspacing="0" width="100%">
            <!--<tr class="error"><td colspan="3">Envie até 3 fotos de no máximo 2MB cada.</td></tr>-->
        </table>
    </div>
</div>