<?=Js::script('allow_photos = '.($this->allow_photos ? 'true' : 'false').';')?>
<? /*if($this->id){ ?>
<div class="content-right">
    <div id="previa">
        <?=$this->render('mensagens/previa.phtml');?>
    </div>
</div>
<? }*/ ?>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="frm-mensagens-contato" class="<?=$this->form->getId();?>">
        <ul>
            <? if($this->id){ ?>
            <li class="txt">
                <label for="">Referência</label>

                <? if($this->row->_arquivo){ $arq = $this->row->_arquivo; ?>
                <? $ext = '.'.end(explode('.',$arq->path)); ?>
                <!-- <a href="<?=FILE_PATH.'/contato/'.$arq->path?>" class="txt link-download" download="<?=$arq->descricao?>" title="<?=$arq->descricao?>" target="blank">Ver aquivo &raquo;</a> -->
                <a href="<?=FILE_PATH.'/contato/'.$arq->path?>" class="txt link-download" title="<?=$arq->descricao?>" target="blank">Ver aquivo &raquo;</a>
                <? } ?>

                <a class="txt link-mensagem-contato" href="#" target="_blank">
                    <?=$this->row->_mensagem->titulo?> -
                    <?=$this->row->_mensagem->subject?>
                </a>
            </li>
            <? } ?>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="li-<?=$elm->getId()?> <?=$elm->getAttrib("class")?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>" class="lbl-<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <? if($elm->getId()== 'tema'){ ?>
                
                <? switch ($this->row->mensagem_id) {
                    case 2: $tema_alias = 'concessionarias'; break;
                    case 3: 
                    case 4: 
                    case 5: $tema_alias = 'fornecedores'; break;
                } ?>
                <ol><li><a href="<?=URL.'/admin/'.$tema_alias.'/edit/'.$this->row->tema_id?>" target="_blank">
                    <?=$elm->getValue()?>
                </a></li></ol>
                
                <? } else { // /if $elm->getId()=='tema' ?>
                
                <?=$elm->render()?>
                
                <? } // /if $elm->getId()== ?>
            </li>

            <? if($elm->getId()== 'tema') if($this->tema2_rows){ ?>
            <li class="li-tema2_ids">
                <label>veículos:</label>
                <ol>
                    <? foreach($this->tema2_rows as $t2r){ ?>
                    <li>
                        <a href="<?=URL.'/admin/produtos/edit/'.$t2r->id?>" target="_blank">
                            <?=$t2r->titulo?>
                        </a>
                    </li>
                    <? } // /foreach this->tema2_rows ?>
                </ol>
            </li>
            <? } // /if $elm->getId()== 'tema' ?>

            <? } ?>
        </ul>
        <?/*<div class="bt-container">
            <input type="submit" class="bt" value="<?=$this->id?'Salvar':'Criar'?>" id="submit" />
        </div>*/?>
    </form>
</div>