<div class="forms">

<div class="form-parceria">
	<form action="<?=URL?>/empresa/enviar" class="frm-parceria">
		<input type="text" class="txt" name="nome" id="nome" placeholder="nome">
		<input type="text" class="txt" name="email" id="email" placeholder="e-mail">
		<input type="text" class="txt mask-cel" name="telefone" id="telefone" placeholder="telefone">
		<input type="text" class="txt" name="empresa" id="empresa" placeholder="empresa">
		<select class="txt" name="categoria" id="categoria">
			<option value="">categoria</option>
			<option value="patrocinador">patrocinador</option>
			<option value="montadora">montadora</option>
			<option value="painel solar">painel solar</option>
			<option value="carregadores">carregadores</option>
			<option value="concessionaria">concessionária</option>
			<option value="outro">outro</option>
		</select>
		<input type="submit" class="hidden" value="Enviar">
		<a href="#" class="submit">Enviar</a>
		<p class="status"></p>
	</form>
</div>

</div>