<div class="fotos">
	<? foreach($this->pagina->fotos as $foto){ ?>
	<? $img_url = URL.'/img/paginas:'
		.((bool)trim($this->pagina->meta_tags) ? Is_Str::toUrl($this->pagina->meta_tags) : $this->pagina->alias)
		.'-'.$foto->path; ?>
	<? $img_alt = ''
		.((bool)trim($this->pagina->meta_description) ? $this->pagina->meta_description : $this->pagina->titulo)
		.' ['.$foto->path.']'; ?>
	<a href="#" class="img">
		<?/*<img src="<?=IMG_URL.'/paginas/'.$foto->path?>" alt="">*/?>
		<img src="<?=$img_url?>" alt="<?=$img_alt?>">
	</a>
	<? } // /foreach this->paginas->fotos ?>
</div>