<div id="pagina-content" class="main-center <?=($this->pagina1) ? 'pagina-content-'.$this->pagina1->alias.'-'.$this->pagina->alias : 'pagina-content-'.$this->pagina->alias?>">

<h1>
	<? if($this->pagina1->alias!='empresa'){ ?>
	<b><?=$this->pagina1->titulo?></b> |
	<? } // /if $this->pagina1->alias!='empresa' ?>
	<?=$this->pagina->titulo?>
</h1>

<? $hasFotos = (bool)$this->pagina->fotos; ?>
<? $hasForms = $this->pagina->id==15; ?>

<div class="body <?=($hasFotos||$hasForms) ? 'has-img' : 'no-img'?>">
	<?//=$this->pagina->body?>
	<?=$this->bbCode($this->pagina->body)?>
</div>

<?=($hasFotos) ? $this->render('paginas/fotos.phtml') : ''?>
<?=($hasForms) ? $this->render('paginas/form-parceria.phtml') : ''?>

</div>