<div id="slideshow-wrapper" class="<?=($this->ads) ? 'has-ads' : '' ?>">
	<div class="slideshow" id="slideshow">

	<? foreach ($this->banners as $row) { ?>
	<? $url = (bool)$row->param ? $row->param : '#'; ?>
	<? $target = strstr($url,URL) ? '' : 'target="_blank"'; ?>
	<? $img = IMG_URL.'/paginas/'.@$row->path;//.'?w=450&h=450'; ?>
	<a href="<?=$url?>" class="foto" <?=$target?>>
	    <span class="img-wrapper">
		    <?/*<span class="img"><img src="<?=$img?>" alt="<?=$row->titulo?>" /></span>*/?>
		    <span class="img" style="background-image:url(<?=$img?>);">
		    	<img src="<?=$img?>" />
		    </span>
	    </span>
	</a>
	<? } ?>

	</div> <!-- /slideshow-wrapper -->
</div> <!-- /slideshow -->


<? if((bool)$this->ads && 1){ ?>
<section id="ads-container">
	<?=$this->render('ads.phtml')?>
</section>
<? } // /if (bool)$this->ads ?>


<section class="modelos-container">
<section class="modelos main-center">
	<? foreach($this->chamadas as $row){ ?>
	<a href="<?=$row->url?>" class="<?=$row->alias?>">
		<span class="icone"></span>
		<span class="tit"><?=$row->titulo?></span>
		<?=nl2br($row->body)?>
	</a>
	<? } // /foreach this->chamadas ?>
</section>
<?/*<section class="modelos main-center">
	<a href="#" class="modelos-de-carros">
		<span class="icone"></span>
		<span class="tit">Modelos de Carros</span>
		Confira os modelos de carro elétricos disponíveis <br class="desktop">
		no mercado atualmente
	</a>
	<a href="#" class="concessionarias">
		<span class="icone"></span>
		<span class="tit">Concessionárias</span>
		Encontre uma concessionária para fazer <br class="desktop">
		o seu test drive agora
	</a>
</section>*/?>
</section>

<? if($this->noticia){ ?>
<? $row = $this->noticia; ?>
<? $url = URL.'/blog-noticias/'.$row->alias.'-'.$row->id; ?>
<? $img = (bool)$row->fotos ? IMG_URL.'/blogs-posts/'.$row->fotos[0]->path : null; ?>
<? $bg  = $img ? 'style="background-image:url('.$img.')"' : null; ?>
<? $class = ($img) ? 'has-img' : 'no-img'; ?>
<section class="noticia-destaque-wrapper">
<section class="noticia-destaque main-center <?=$class?>">
	<a href="<?=$url?>" class="noticia">
		<span class="titulo"><?=$row->titulo_pt?></span>
		<?//=Is_Str::crop(strip_tags($row->body_pt),330)?>
		<?=Is_Str::crop(strip_tags($row->body_pt),$img ? 210 : 330)?>
	</a>
	
	<? if($img){ ?>
	<span class="img" <?=$bg?>>
		<img src="<?=$img?>" alt="<?=$row->titulo_pt?>">
	</span>
	<? } // /if $img ?>
</section>
</section>
<? } // /if $this->noticia ?>

<section class="newsletter-wrapper">
<? $img = IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->foto1; ?>
<? $bg = 'style="background-image:url('.$img.')"'; ?>
<span class="img" <?=$bg?>><img src="<?=$img?>" alt="Newsletter"></span>
<section class="newsletter main-center">
	<form action="<?=URL?>/index/newsletter" id="newsletter-form" class="newsletter-form">
		<span class="tit">Cadastre-se para receber nossa Newsletter</span>
		<ul>
			<li class="li-email">
				<input type="text" id="email" name="email" class="txt" placeholder="e-mail">
			</li>
			<li class="li-submit">
				<a href="#" class="submit">Enviar</a>
				<input type="submit" class="hidden" value="Enviar">
			</li>
		</ul>
		<span class="status"></span>
	</form>
</section>
<!-- <br clear="all"> -->
</section>




