<div id="carros-leves-content" class="main-center interna agendar">

<h1><?=$this->titulo?></h1>

<? if($this->carro){ ?>
<? $row = $this->carro; ?>
<? $this->row = $this->carro; ?>
<? $url = URL.'/carros-leves/'.$row->alias.'-'.$row->id; ?>
<? $img = (bool)trim($row->capa_path) ? IMG_URL.'/produtos/'.$row->capa_path : null; ?>
<? $bg  = $img ? 'style="background-image:url('.$img.')"' : ''; ?>
<? $class = $img ? '' : 'no-img'; ?>
<aside class="carro-wrapper">
	<div class="carro">
		<span class="img <?=$class?>" <?=$bg?>>
			<img src="<?=$img?>" alt="<?=$row->titulo?>">
		</span>
		
		<h2><?=$row->titulo?></h2>

		<?=$this->render('carros-leves/car-details-ul.phtml')?>
	</div>

	<?=$this->render('ads.phtml')?>
</aside>
<? } // /if $this->carro ?>

<section id="cons-content">
	<form action="" class="frm-busca-cons" method="get">
		<? if(!$this->carro){ ?>
		SELECIONE A MARCA DESEJADA
		<br class="mobile-cel" clear="all">
		<br class="mobile-cel" clear="all">
		<select class="txt" id="marca-cons" name="marca" value="<?=$this->marca?>">
			<option value=""></option>
			<? foreach($this->marcas as $marK => $marV){ ?>
			<? $chk = $this->marca==$marK ? 'selected' : ''; ?>
			<option value="<?=$marK?>" <?=$chk?>><?=$marV?></option>
			<? } // /foreach this->marcas ?>
		</select>
		<br class="mobile" clear="all">
		<br class="mobile" clear="all">
		<? } // /if $this->controller=='concessionarias' ?>
		
		INFORME O SEU CEP
		<br class="mobile-cel" clear="all">
		<br class="mobile-cel" clear="all">
		<input type="text" class="txt mask-cep" id="cep-cons" name="cep" value="<?=$this->cep?>">
		
		<input type="submit" class="hidden">
		<a href="#" class="submit" title="Enviar"></a>
	</form>

	<? if($this->rows){ ?>
	<br clear="all">
	
	<ul id="cons-list">
		<? for($i=0;$i<(ENV_DEV?1:1);$i++) foreach($this->rows as $row){ ?>
		<? $img = (bool)trim($row->foto_path) ? IMG_URL.'/concessionarias/'.$row->foto_path : null; ?>
		<? //if(ENV_DEV&&$i==1){ $img = null; } ?>
		<? $bg  = $img ? 'style="background-image:url('.$img.')"' : ''; ?>
		<li>
			<a href="#" 
			   data-area="2"
			   data-temaid="<?=$row->id?>"
			   data-tema="<?=$row->titulo?>"
			   class="mais-det rel-click">
				MAIS DETALHES
				<span class="icone"></span>
			</a>
			<a href="#" class="menos-det">
				<span class="icone"></span>
			</a>
			
			<div class="closed">
				<? if($img){ ?>
				<span class="img" <?=$bg?>>
					<img src="<?=$img?>" alt="<?=$row->titulo?>">
				</span>
				<? } // /if $img ?>
				
				<span class="title"><?=$row->titulo?></span> 
				<? if((bool)trim(@$row->dist_text) && 1){ ?>
				<span class="dist-text">(aprox. <?=$row->dist_text?> de carro)</span>
				<? } // /if $row->dist_text ?>
				<br>
				<?=$row->bairro?> <br>
				<?=$row->cidade?>, <?=$row->uf?>
			</div>

			<div class="open">
				<? if($img){ ?>
				<span class="img" <?=$bg?>>
					<img src="<?=$img?>" alt="<?=$row->titulo?>">
				</span>
				<? } // /if $img ?>
				
				<span class="title"><?=$row->titulo?></span> <br>
				
				<?=$row->endereco?> -
				<?=$row->bairro?> <br>
				<?=Is_Format::cep($row->cep)?> -
				<?=$row->cidade?>, <?=$row->uf?>
				
				<br>
				<br>
				<? $tel = Is_Format::tel($row->tel,'cel'); ?>
				<? $tel = str_replace(array('(',')','.'),array('','','-'),$tel); ?>
				<a href="tel:<?=Is_Cpf::clean($row->tel)?>" class="tel"><?=$tel?></a>
				
				<br clear="all">
				<div class="body"><?=$row->body?></div>
				
				<br>
				<? $site = str_replace(array('http://','https://'),'',$row->site); ?>
				<? $mapa_link = 'https://maps.google.com/maps?q='._parseEndereco($row); ?>
				<? if($this->cep){ $mapa_link = 'https://maps.google.com/maps/dir/'.$this->cep.'/'.(ENV_DEV?'':_parseEndereco($row).',+').$row->cep; } ?>
				<? //if($this->cep){ $mapa_link = 'https://maps.google.com/maps/dir/'.$this->cep.'/'.$row->cep; } ?>
				<a href="<?=$row->site?>" class="link" target="_blank"><?=$site?></a>
				<br clear="all" class="mobile-cel">
				<br clear="all" class="mobile-cel">
				<a href="<?=$mapa_link?>" class="mapa" target="_blank"><span class="icone"></span>COMO CHEGAR</a>
				<? if((bool)trim(@$row->dist_text) && 1){ ?>
				<span class="dist-text cmch">(aprox. <?=$row->dist_text?> de carro)</span>
				<? } // /if $row->dist_text ?>
				<br clear="all">

				<form action="<?=URL.'/'.$this->controller?>/enviar" class="frm-cons-contato">
					<input type="hidden" name="cons_id" id="cons_id" value="<?=$row->id?>">
					<input type="hidden" name="cons" id="cons" value="<?=$row->titulo?>">
					<ul class="txts">
						<li>
							<label for="nome">nome</label>
							<input type="text" class="txt" name="nome" id="nome">
						</li>
						<li>
							<label for="email">e-mail</label>
							<input type="text" class="txt" name="email" id="email">
						</li>
						<li>
							<label for="telefone">telefone</label>
							<input type="text" class="txt mask-cel" name="telefone" id="telefone">
						</li>
						<li>
							<!-- <label for="data_agendamento" class="lbl2 desktop">data para o agendamento</label> -->
							<label for="data_agendamento" class="lbl2 desktop1">data preferida para o agendamento</label>
							<!-- <label for="data_agendamento" class="lbl2 mobile-cel1">data</label> -->
							<input type="text" class="txt mask-date" name="data_agendamento" id="data_agendamento">
						</li>
					</ul>
					<a href="#" class="submit">AGENDAR<br>TEST DRIVE</a>
					<p class="status"></p>

					<!-- <br clear="all"> -->
					<!-- <div class="title-modelos">MODELOS DISPONÍVEIS</div> -->
					<div class="title-modelos">MODELOS DE INTERESSE:</div>
					<? if(@$this->concars[$row->id]){ ?>
					<ul class="modelos-list">
						<? foreach($this->concars[$row->id] as $m){ ?>
						<li>
							<input type="checkbox" class="chk-model" value="<?=$m->id?>">
							<?=$m->titulo?>
						</li>
						<? } // /foreach this->rows ?>
					</ul>
					<? } else { // /if $this->concars[$row->id] ?>
					<small>Nenhum modelo disponível.</small>
					<? } // /if $this->concars[$row->id] ?>
					<input type="hidden" name="prod_ids" id="prod_ids">

					<input type="submit" class="hidden">
				</form>
			</div>
		</li>
		<? } // /foreach this->rows ?>
	</ul>

	<? } else { ?>
	<br clear="all">
	<br clear="all">
	<div class="no-results">
		Nenhum registro encontrado.
		<br clear="all">
		<a href="<?=URL.'/'.$this->controller?>" class="bt-voltar">VER TODAS</a>
	</div>
	<? } // /if $this->rows ?>
</section>

</div>