<?=Css::load(CSS_PATH.'/admin/carros-ads.less')?>
<?=Js::script('var CARCON = '.json_encode((array)$this->carcon_list).';')?>
<?=Js::script('var CARS = '.json_encode((array)$this->car_list).';')?>
<?=Js::load(JS_PATH.'/admin/carros-ads.js')?>

<div class="carcon-status"></div>
<h3>&raquo; Carros disponíveis</h3>

<form action="" class="frm-carcon">
    <input type="text" class="txt" id="carcon-search" placeholder="Filtrar..." autocomplete="off" />
</form>

<ul class="carcon-list" id="carcon-con">
    <? if($this->car_list){ foreach($this->car_list as $car){ ?>
    <? $checked = in_array($car->id, $this->carcon_list) ? 'checked' : ''; ?>
    <li>
        <label>
            <input type="checkbox" class="carcon-chk" data-car="<?=$car->id?>" data-con="<?=$this->id?>" <?=$checked?> />
            <?=$car->titulo?>
        </label>
    </li>
    <? }} else { ?>
    <li>Nenhum registro encontrado</li>
    <? } ?>
</ul>
