<? if((bool)$this->ads){ ?>
<div id="ads" class="ads-<?=$this->controller?> <?=$this->controller=='index'?'home':'interna'?>">
	<? foreach($this->ads as $ad){ ?>
	<a href="<?=$ad->site?>" class="ad ads-click" id="ad-<?=$ad->id?>" data-id="<?=$ad->id?>" title="<?=$ad->titulo?>" target="_blank">
        <img src="<?=IMG_URL.'/ads/'.$ad->foto_path?>" alt="<?=$ad->titulo?>">
    </a>
	<? } // /foreach this->ads ?>
</div>
<? } // /if (bool)$this->ads ?>