<div id="blog-content" class="main-center">

<h1><?=$this->blog->titulo.(($this->cat) ? ' - '.$this->cat->descricao_pt : '')?></h1>

<? if($this->noticia) { ?>
<div id="post-interna">
    <?=$this->render($this->controller.'/post.phtml');?>
</div>
<? } else { ?>

<aside class="post-left home">
    <? $pages = $this->menu_blog->categorias->getPages(); ?>
    <ul class="cat-list">
        <? foreach($pages as $page){ ?>
        <? $active = $this->alias == $page->alias; ?>
        <li><a href="<?=$page->uri?>"><?=$page->label?></a></li>
        <? } ?>
    </ul>
</aside>

<section id="posts">
	<? $j=0; for($i=0;$i<(ENV_DEV?8:1);$i++) foreach($this->noticias as $row){ $j++; ?>
	
	<? $url = URL.'/'.$this->blog->alias.'/'.$row->alias.'-'.$row->id; ?>
	<? $img = (bool)$row->fotos ? IMG_URL.'/blogs-posts/'.$row->fotos[0]->path : null; ?>
	<? $bg  = $img ? 'style="background-image:url('.$img.')"' : null; ?>
	<? $class = 'class="post-link'; ?>
	<? //if($j%3==0){ $class.= ' last-desk'; } ?>
	<? //if($j%2==0){ $class.= ' last-tab'; } ?>
	<? if($j<=3) {
		if($j%2==0){ $class.= ' last-desk'; $j=3; }
	} else {
		if($j%3==0){ $class.= ' last-desk'; }
	} ?>
	<? if($j%2==0){ $class.= ' last-tab'; } ?>
	<? $class.= '"'; ?>
	<? $cat = null; foreach($this->categs_rows as $cr){ if($cr->id==$row->categoria_id) $cat = $cr; } ?>
	
	<a href="<?=$url?>" <?=$class?>>
		<span class="img" <?=$bg?>>
			<img src="<?=$img?>" alt="<?=$row->titulo_pt?>">
		</span>
		<span class="cat"><?=@$cat->descricao_pt?></span>
		<br clear="all">
		<?=$row->titulo_pt?>
		<?//=str_repeat('alohaaaaaa ', $j);?>
	</a>
	<? } // /foreach this->noticias ?>
</section>

<br clear="all">
<br clear="all">
<? if(count($this->noticias)>(ENV_DEV?0:12)){ ?>
<a href="#" class="ver-mais">VER MAIS</a>
<? } // /if count($this->noticias) ?>

<? } // /if this->noticia ?>

</div>