<? $tits = array(
	'autonomia_el2' => 'ALCANCE DIA A DIA',
	'car_tipo' => 'CARRO (GERAL)',
	'op_fcharge' => '',
	'bat_capac_util' => 'BATERIA',
	'motor_potencia' => 'MOTOR ELÉTRICO',
	'motorh_veloc_max' => 'MOTOR A COMBUSTÃO (HÍBRIDOS)',
	'dim_comprimento' => 'DIMENSÕES DO VEÍCULO',
	'o_capac_pm' => 'OUTROS',
); ?>
<? $has2ln = 0; foreach($this->rows as $r){ if(strlen($r->titulo)>27){ $has2ln = 1; }} ?>

<div id="comparativo-content" class="main-center interna">

<a href="<?=URL?>/carros-leves" class="bt-compare-top interna add">ADICIONAR OUTRO VEÍCULO AO COMPARATIVO</a>
<h1>COMPARATIVO</h1>

<aside class="configs">
	<div class="carro">
		<h2 class="<?=($has2ln)?'ln2':''?>">veículo:</h2>
		
		<ul class="car-details">
			<li class="vl">preço:</li>
			<li class="al">alcance:</li>
			<li class="te">classificação:</li>
			<li class="fc">carregamento:</li>
		</ul>

		<a href="#" class="agendar desktop">AGENDAMENTO DE TEST DRIVE:</a>
		<a href="#" class="agendar mobile-tablet">AGENDAMENTO:</a>
		<a href="#" class="mais-det txt">MAIS DETALHES:</a>

		<div class="carro-detalhes">
			<table class="tbl-detalhes">
				<tr>
					<td class="desc empty">&nbsp;</td>
					<!-- <td class="value empty">&nbsp;</td> -->
				</tr>
				<tr>
					<td class="desc empty">&nbsp;</td>
					<!-- <td class="value empty">&nbsp;</td> -->
				</tr>

				<? foreach($this->configs as $c){ ?>
				<? $desc = $c->descricao;//.' - '.$c->alias; ?>
				<? $value = ''; ?>

				<? if(array_key_exists($c->alias,$tits)){ ?>
				<? $tit = $tits[$c->alias]; ?>
				<tr>
					<? if(trim($tit)){ ?>
					<td class="desc"><span class="tit-item"><?=$tit?></span></td>
					<? } else { // /if trim($tit) ?>
					<td class="desc">&nbsp;</td>
					<? } // /if trim($tit) ?>
					<!-- <td class="value">&nbsp;</td> -->
				</tr>
				<? } // /if $c->alias=='motor_potencia' ?>

				<tr>
					<td class="desc"><?=$desc?></td>
					<!-- <td class="value"><?=$value?></td> -->
				</tr>
				<? } // /foreach this->configs ?>

				<tr>
					<td class="desc empty">&nbsp;</td>
					<!-- <td class="value empty">&nbsp;</td> -->
				</tr>
				<tr>
					<td class="desc empty">&nbsp;</td>
					<!-- <td class="value empty">&nbsp;</td> -->
				</tr>
			</table>
		</div>
	</div>
</aside>

<div id="carros-leves-wrapper">
<div class="swiper-container">
<section id="carros-leves" class="carro-wrapper swiper-wrapper">
	<? for($j=0;$j<(ENV_DEV?8:1);$j++) foreach($this->rows as $row){ ?>
	<? $url = URL.'/carros-leves/'.$row->alias.'-'.$row->id; ?>
	<? $img = (bool)trim($row->capa_path) ? IMG_URL.'/produtos/'.$row->capa_path : null; ?>
	<? $bg  = $img ? 'style="background-image:url('.$img.')"' : ''; ?>
	<? $class = $img ? '' : 'no-img'; ?>
	<div class="carro swiper-slide">
		<a href="#" class="remove-comp" title="Remover" data-id="<?=$row->id?>">Remover</a>
		<span class="img <?=$class?>" <?=$bg?>>
			<img src="<?=$img?>" alt="<?=$row->titulo?>">
		</span>
		
		<h2 class="<?=($has2ln)?'ln2':''?>"><?=$row->titulo?></h2>
		
		<? $this->row = $row; ?>
		<?=$this->render('carros-leves/car-details-ul.phtml')?>

		<a href="<?=URL.'/agendar-test-drive/'.$row->id?>" class="agendar">AGENDAR TEST DRIVE</a>

		<div class="carro-detalhes">
			<span class="title">MAIS DETALHES:</span>

			<table class="tbl-detalhes">
				<tr>
					<!-- <td class="desc empty">&nbsp;</td> -->
					<td class="value empty">&nbsp;</td>
				</tr>
				<tr>
					<!-- <td class="desc empty">&nbsp;</td> -->
					<td class="value empty">&nbsp;</td>
				</tr>

				<? foreach($this->configs as $c){ ?>
				<? $desc = $c->descricao;//.' - '.$c->alias; ?>
				<? $value = $row->{$c->alias}; ?>
				<? switch($c->alias) {
					case 'valor': $value = _currency($row->{$c->alias}); break;
					case 'peso': $value = ceil($row->{$c->alias}).' kg'; break;
					case 'autonomia_el':
					case 'autonomia_el2':
					case 'alcance_inv':
					case 'alcance_ver': $value = $row->{$c->alias}.' km'; break;
					case 'car_veloc_max_el': $value = $row->{$c->alias}.' km/hora'; break;
					// case 'fcharge': $value = $row->{$c->alias}==1 ? 'sim' : 'não (hidrogênio)'; break;
					case 'fcharge': $value = $row->{$c->alias}==1 ? 'sim' : 'não'; break;
					case 'op_fcharge':
					case 'disp_merc': $value = $row->{$c->alias}==1 ? 'Sim' : 'Não'; break;
				} ?>
				<? if(!(bool)trim($value)){ $value = '&nbsp;'; } ?>

				<? if(array_key_exists($c->alias,$tits)){ ?>
				<? $tit = $tits[$c->alias]; ?>
				<tr>
					<? if(trim($tit)){ ?>
					<td class="desc"><span class="tit-item">&nbsp;</span></td>
					<? } else { // /if trim($tit) ?>
					<td class="desc">&nbsp;</td>
					<? } // /if trim($tit) ?>
					<!-- <td class="value">&nbsp;</td> -->
				</tr>
				<? } // /if $c->alias=='motor_potencia' ?>

				<tr>
					<!-- <td class="desc"><?=$desc?></td> -->
					<td class="value">
						<? $tit = (array_key_exists($c->alias,$tits)) ? '<big>'.$tits[$c->alias].'</big>' : null; ?>
						<span class="tit-value mobile-cel">
							<?=($tit) ? $tit : ''?>
							<?=$desc?>:
						</span>
						<?=$value?>
					</td>
				</tr>
				<? } // /foreach this->configs ?>
			</table>

			<? if((bool)trim($row->info)){ ?>
			<div class="info_obs"><?=$row->info?></div>
			<? } ?>
		</div> <!-- /.caro-detalhes -->

		<a href="#" class="mais-det ico" title="MAIS DETALHES"></a>
	</div>
	<? } // /foreach this->rows ?>
</section>
</div> <!-- /#swiper-wrapper -->
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
</div> <!-- /#carros-leves-wrapper -->


</div> <!-- /#comparativo-content -->