		<? $row = $this->row; ?>
		<ul class="car-details">
			<li class="vl"><?=_currency($row->valor)?></li>
			<li class="al"><?=$row->autonomia_el?> km de alcance</li>
			<li class="te"><?=$row->car_el ? 'Carro totalmente elétrico' : 'Carro parcialmente elétrico'?></li>
			<li class="fc"><?=$row->fcharge ? 'Pode carregar rápido' : 'Não pode carregar rápido'?></li>
		</ul>