<aside id="filtros">
	<h4 class="first">Raio de ação</h4>
	<!-- <div class="bar">
		<span class="min"></span>
		<span class="max"></span>
	</div> -->
	<? $min = (int)$this->raio_min; ?>
	<? $max = (int)$this->raio_max; ?>
	<div id="slider-range" class="slider" data-min="<?=$min?>" data-max="<?=$max?>"></div>
	<br clear="all">
	Faixa: 
	<span id="filtro-raio-min"></span> km -
	<span id="filtro-raio-max"></span> km
	
	<h4>PREÇO</h4>
	<!-- <div class="bar">
		<span class="min"></span>
		<span class="max"></span>
	</div> -->
	<? $min = (int)$this->preco_min; ?>
	<? $max = (int)$this->preco_max; ?>
	<div id="slider-range-preco" class="slider" data-min="<?=$min?>" data-max="<?=$max?>"></div>
	<br clear="all">
	Faixa: 
	R$ <span id="filtro-preco-min"></span> a
	R$ <span id="filtro-preco-max"></span>

	
	<h4>FILTROS</h4>
	
	<? $urip = new Urip($this->controller); ?>
	<? $filtros = array('marca','modelo','ano','assento','adicionais','fcharge','sprint'); ?>
	
	<ul id="filtros-list">
		<? foreach($filtros as $filtro){ ?>
		
		<? $isAdicional = $filtro=='adicionais'; ?>
		<? $isAssento = $filtro=='assento'; ?>
		<? $isModelo  = $filtro=='modelo'; ?>
		<? $isFcharge  = $filtro=='fcharge'; ?>
		<? $isPlural = $isAssento || $isAdicional; ?>
		
		<? $search = 'search'.ucfirst($filtro); ?>
			<? if($isAssento) $search.= 's'; ?>
			<? $search = $this->{$search}; ?>
		<? $rows = $filtro; ?>
			<? if($isAssento) { $rows.= 's'; ?>
			<? } else if($isAdicional) { ?>
			<? } else { $rows.= 's'; } ?>
			<? $rows = $this->{$rows}; ?>
		<? $tit = strtoupper($filtro); ?>
			<? if($isAssento) $tit.= 'S'; ?>
			<? if($isFcharge) $tit = 'CARREGAMENTO RÁPIDO'; ?>
		<? $fpK = $filtro; ?>
			<? if($isAssento) $fpK.= 's'; ?>
		
		<li>
			<? $class = $search ? 'class="open"' : ''; ?>
			<a href="#filtro-marca" <?=$class?>><?=$tit?></a>

			<? if($rows){ ?>
			<? $class = $search ? 'class="show"' : ''; ?>
			<ul <?=$class?>>
				<? foreach($rows as $k => $v){ ?>
				<? if($isModelo){ $k = Is_Str::toUrl($k); } ?>
				<? if($isFcharge){ $k = (string)$k; } ?>
				<? //if($isFcharge){ _d(array($k,$search),0); } ?>
				<? //$class = $search == $k ? 'class="active"' : ''; ?>
				<? $class = in_array($k, $search) ? 'class="active"' : ''; ?>
				<? $fparams = array($fpK=>$k); ?>
				<? $uri = $urip->replace($fparams,1,(bool)$class); ?>
				<li>
					<!-- <a href="<?=appQs($filtro,$k)?>" <?=$class?>><?=$v?></a> -->
					<a href="<?=$uri?>" <?=$class?>><?=$v?></a>
				</li>
				<? } // /foreach rows ?>
			</ul>
			<? } // /if $rows ?>
		</li>
		<? } // /foreach filtros ?>
		
		<?/*<li>
			<? $class = $this->searchMarca ? 'class="open"' : ''; ?>
			<a href="#filtro-marca" <?=$class?>>MARCA</a>

			<? if($this->marcas){ ?>
			<? $class = $this->searchMarca ? 'class="show"' : ''; ?>
			<ul <?=$class?>>
				<? foreach($this->marcas as $k => $v){ ?>
				<? //$class = $this->searchMarca == $k ? 'class="active"' : ''; ?>
				<? $class = in_array($k, $this->searchMarca) ? 'class="active"' : ''; ?>
				<? $fparams = array('marca'=>$k); ?>
				<? $uri = $urip->replace($fparams,1,(bool)$class); ?>
				<li>
					<a href="<?=appQs('marca',$k)?>" <?=$class?>><?=$v?></a>
					<a href="<?=$uri?>" <?=$class?>><?=$v?></a>
				</li>
				<? } // /foreach this->marcas ?>
			</ul>
			<? } // /if $this->marcas ?>
		</li>
		<li>
			<? $class = $this->searchModelo ? 'class="open"' : ''; ?>
			<a href="#filtro-modelo" <?=$class?>>MODELO</a>

			<? if($this->modelos){ ?>
			<? $class = $this->searchModelo ? 'class="show"' : ''; ?>
			<ul <?=$class?>>
				<? foreach($this->modelos as $k => $v){ ?>
				<? $k2 = Is_Str::toUrl($k); ?>
				<? //$class = $this->searchModelo == $k ? 'class="active"' : ''; ?>
				<? $class = in_array($k2, $this->searchModelo) ? 'class="active"' : ''; ?>
				<li>
					<!-- <a href="<?=appQs('modelo',$k)?>" <?=$class?>><?=$v?></a> -->
					<a href="<?=URL.'/carros-leves/modelo/'.$k2?>" <?=$class?>><?=$v?></a>
				</li>
				<? } // /foreach this->modelos ?>
			</ul>
			<? } // /if $this->modelos ?>
		</li>
		<li>
			<? $class = $this->searchAno ? 'class="open"' : ''; ?>
			<a href="#filtro-ano" <?=$class?>>ANO</a>

			<? if($this->anos){ ?>
			<? $class = $this->searchAno ? 'class="show"' : ''; ?>
			<ul <?=$class?>>
				<? foreach($this->anos as $k => $v){ ?>
				<? //$class = $this->searchAno == $k ? 'class="active"' : ''; ?>
				<? $class = in_array($k, $this->searchAno) ? 'class="active"' : ''; ?>
				<li>
					<!-- <a href="<?=appQs('ano',$k)?>" <?=$class?>><?=$v?></a> -->
					<a href="<?=URL.'/carros-leves/ano/'.$k?>" <?=$class?>><?=$v?></a>
				</li>
				<? } // /foreach this->anos ?>
			</ul>
			<? } // /if $this->anos ?>
		</li>
		<li>
			<? $class = $this->searchAssentos ? 'class="open"' : ''; ?>
			<a href="#filtro-assentos" <?=$class?>>ASSENTOS</a>

			<? if($this->assentos){ ?>
			<? $class = $this->searchAssentos ? 'class="show"' : ''; ?>
			<ul <?=$class?>>
				<? foreach($this->assentos as $k => $v){ ?>
				<? //$class = $this->searchAssentos == $k ? 'class="active"' : ''; ?>
				<? $class = in_array($k, $this->searchAssentos) ? 'class="active"' : ''; ?>
				<li>
					<!-- <a href="<?=appQs('assentos',$k)?>" <?=$class?>><?=$v?></a> -->
					<a href="<?=URL.'/carros-leves/assentos/'.$k?>" <?=$class?>><?=$v?></a>
				</li>
				<? } // /foreach this->assentos ?>
			</ul>
			<? } // /if $this->assentos ?>
		</li>*/?>
		<!-- <li><a href="#filtro-adicionais">ADICIONAIS</a></li> -->
		<!-- <li><a href="#filtro-carregamento-rapido">CARREGAMENTO RÁPIDO</a></li> -->
		<!-- <li><a href="#filtro-sprint">SPRINT</a></li> -->
	</ul>

	<?=$this->render('ads.phtml')?>
</aside>