<div id="carros-leves-content" class="main-center">

<a href="<?=URL?>/comparativo" class="bt-compare-top interna <?=$this->countComparativo ? 'active' : ''?>">VER COMPARATIVO</a>
<h1>ENCONTRE O SEU MODELO</h1>

<section id="carros-leves">
	<? for($j=0;$j<(ENV_DEV?1:1);$j++) foreach($this->rows as $row){ ?>
	<? $url = URL.'/carros-leves/'.$row->alias.'-'.$row->id; ?>
	<? $img = (bool)trim($row->capa_path) ? IMG_URL.'/produtos/'.$row->capa_path : null; ?>
	<? $bg  = $img ? 'style="background-image:url('.$img.')"' : ''; ?>
	<? $class = $img ? '' : 'no-img'; ?>
	<div class="carro">
		<a href="<?=$url?>" class="img <?=$class?>" <?=$bg?>>
			<img src="<?=$img?>" alt="<?=$row->titulo?>">
		</a>
		
		<h2><a href="<?=$url?>" class="tit"><?=$row->titulo?></a></h2>

		<? $this->row = $row; ?>
		<?=$this->render('carros-leves/car-details-ul.phtml')?>

		<ul class="car-links">
			<li><a href="<?=URL.'/agendar-test-drive/'.$row->id?>" class="atd">AGENDAR TEST DRIVE</a></li>
			<? if(in_array($row->id, $this->sess_carros)){ ?>
			<li><a href="#" class="ac active" data-id="<?=$row->id?>">ADICIONADO À COMPARAÇÃO</a></li>
			<? } else { // /if in_array ?>
			<li><a href="#" class="ac" data-id="<?=$row->id?>">ADICIONAR À COMPARAÇÃO</a></li>
			<? } // /if in_array ?>
			<li><a href="<?=URL?>/carregadores/?escolher" class="ec">ESCOLHER CARREGADOR</a></li>
		</ul>
	</div>
	<? } // /foreach this->rows ?>

    <br clear="all">
    <? $this->paginacao->get_page(); if($this->paginacao->_total_pages > 1){ ?>
    <? $t = $this->paginacao->_total_pages; ?>
    <? $p = $this->paginacao->get_page(); ?>
    <div class="pagination">
        <? if($p != 1){ ?>
        <a href="?page=<?=($p-1)?>" class="proximos right">próxima página &raquo;</a>
        <? } ?>
        <? if($p != $t){ ?>
        <a href="?page=<?=($p+1)?>" class="anteriores left">&laquo; página anterior</a>
        <? } ?>
        <?=$this->paginacao->render()?>
    </div>
    <? } ?>
</section>

<?=$this->render('carros-leves/filtros.phtml')?>

</div> <!-- /#carros-leves-content -->