<? $row = $this->row; ?>
<? $url = URL.'/carros-leves/'.$row->alias.'-'.$row->id; ?>
<? $img = (bool)trim($row->capa_path) ? IMG_URL.'/produtos/'.$row->capa_path : null; ?>
<? $bg  = $img ? 'style="background-image:url('.$img.')"' : ''; ?>
<? $class = $img ? '' : 'no-img'; ?>
<? $hasFotos = (bool)$row->fotos; ?>
<? $tits = array(
	'autonomia_el2' => 'ALCANCE DIA A DIA',
	'car_tipo' => 'CARRO (GERAL)',
	'op_fcharge' => '',
	'bat_capac_util' => 'BATERIA',
	'motor_potencia' => 'MOTOR ELÉTRICO',
	'motorh_veloc_max' => 'MOTOR A COMBUSTÃO (HÍBRIDOS)',
	'dim_comprimento' => 'DIMENSÕES DO VEÍCULO',
	'o_capac_pm' => 'OUTROS',
); ?>

<div id="carros-leves-content" class="main-center interna">

<a href="<?=URL?>/carros-leves" class="bt-compare-top">SELECIONAR MODELOS PARA O COMPARATIVO</a>
<h1>DETALHES DO VEÍCULO</h1>

<aside class="carro-wrapper">
	<div class="carro">
		<? $img_url = URL.'/img/produtos:'
			.((bool)trim($row->meta_tags) ? Is_Str::toUrl($row->meta_tags) : $row->alias)
			.'-'.$row->capa_path; ?>
		<? $img_alt = ''
			.((bool)trim($row->meta_description) ? $row->meta_description : $row->titulo)
			//.' ['.$row->capa_path.']'
			.''; ?>
		<span class="img <?=$class?>" <?=$bg?>>
			<?/*<img src="<?=$img?>" alt="<?=$row->titulo?>">*/?>
			<img src="<?=$img_url?>" alt="<?=$img_alt?>">
		</span>
		
		<h2><?=$row->titulo?></h2>

		<?=$this->render('carros-leves/car-details-ul.phtml')?>

		<a href="<?=URL.'/agendar-test-drive/'.$row->id?>" class="agendar">AGENDAR TEST DRIVE</a>
	</div>

	<?=$this->render('ads.phtml')?>
</aside>

<div class="detalhes-container">

<section id="detalhes" class="<?=($hasFotos && 1) ? '' : 'full'?>">
	<span class="tit">MAIS DETALHES:</span>

	<table class="tbl-detalhes">
		<tr>
			<td class="desc empty">&nbsp;</td>
			<td class="value empty">&nbsp;</td>
		</tr>
		<tr>
			<td class="desc empty">&nbsp;</td>
			<td class="value empty">&nbsp;</td>
		</tr>
		
		<? foreach($this->configs as $c){ ?>
		<? $desc = $c->descricao;//.' - '.$c->alias; ?>
		<? $value = $row->{$c->alias}; ?>
		<? switch($c->alias) {
			case 'valor': $value = _currency($row->{$c->alias}); break;
			case 'peso': $value = ceil($row->{$c->alias}).' kg'; break;
			case 'autonomia_el':
			case 'autonomia_el2':
			case 'alcance_inv':
			case 'alcance_ver': $value = $row->{$c->alias}.' km'; break;
			case 'car_veloc_max_el': $value = $row->{$c->alias}.' km/hora'; break;
			// case 'fcharge': $value = $row->{$c->alias}==1 ? 'sim' : 'não (hidrogênio)'; break;
			case 'fcharge': $value = $row->{$c->alias}==1 ? 'sim' : 'não'; break;
			case 'op_fcharge':
			case 'disp_merc': $value = $row->{$c->alias}==1 ? 'Sim' : 'Não'; break;
		} ?>

		<? if(array_key_exists($c->alias,$tits)){ ?>
		<? $tit = $tits[$c->alias]; ?>
		<tr>
			<? if(trim($tit)){ ?>
			<td class="desc"><span class="tit-item"><?=$tit?></span></td>
			<? } else { // /if trim($tit) ?>
			<td class="desc">&nbsp;</td>
			<? } // /if trim($tit) ?>
			<td class="value">&nbsp;</td>
		</tr>
		<? } // /if $c->alias=='motor_potencia' ?>

		<tr>
			<td class="desc"><?=$desc?></td>
			<td class="value"><?=$value?></td>
		</tr>
		<? } // /foreach this->configs ?>

		<tr>
			<td class="desc empty">&nbsp;</td>
			<td class="value empty">&nbsp;</td>
		</tr>
	</table>
</section>

<? if((bool)trim($row->info)){ ?>
<div class="info_obs mobile"><?=$row->info?></div>
<? } // /if (bool) ?>

<? if($hasFotos){ ?>
<aside class="galeria">
	<? foreach($row->fotos as $foto){ ?>
	<? $img = IMG_URL.'/produtos/'.$foto->path; ?>
	<? $img_url = URL.'/img/produtos:'
		.((bool)trim($row->meta_tags) ? Is_Str::toUrl($row->meta_tags) : $row->alias)
		.'-'.$foto->path; ?>
	<? $img_alt = ''
		.((bool)trim($row->meta_description) ? $row->meta_description : $row->titulo)
		.' ['.$foto->path.']'; ?>
	<?/*<a href="<?=$img?>" class="foto" rel="galeria">*/?>
	<a href="<?=$img_url?>" class="foto" rel="galeria">
		<?/*<img src="<?=$img?>">*/?>
		<img src="<?=$img_url?>" alt="<?=$img_alt?>">
	</a>
	<? } // /foreach row->fotos ?>
</aside>
<? } // /if $hasFotos ?>

<? if((bool)trim($row->info)){ ?>
<div class="info_obs desktop"><?=$row->info?></div>
<? } // /if (bool) ?>

</div> <!-- /.detalhes-container -->

</div> <!-- /#carros-leves-content -->