	<? $post = $this->noticia; ?>
	<div class="post-interna">
        <h2 class="desc">
           <span class="titulo">
               <?=$this->translateDb($post,'titulo')?>
           </span>
           <?/*<span class="data">
               <? $dt = explode('-',reset(explode(' ',$post->data_cad))); ?>
               <?=$dt[2]?>
               <?=$this->date(implode('-', $dt),'MMM')?>
               <?=$dt[0]?>
           </span>*/?>
        </h2>
        
        <? /*if((bool)$post->fotos){ ?>
        <img src="<?=URL.'/img/blogs-posts:'.$post->fotos[0]->path?>" alt="">
        <? }*/ ?>
        
        <? /*if((bool)$this->translateDb($post,'olho')){ ?>
        <p class="olho-interna">
            <?=nl2br(Is_Str::crop(strip_tags($this->translateDb($post,'olho'),'<br>'),500))?>
        </p>
        <? }*/ ?>

        <div class="texto"><?=$this->bbCode($this->translateDb($post,'body'))?></div>

        <a href="<?=URL.'/'.$this->blog->alias?>" class="blog-voltar"><b><</b> VOLTAR</a>
    </div>

    <aside class="post-left">
        <? $j=0; if((bool)$post->fotos||1) foreach($post->fotos as $foto){ $j++; ?>
        <? $img = IMG_URL.'/blogs-posts/'.@$foto->path; ?>
        <? $img_url = URL.'/img/blogs-posts:'
            .((bool)trim($post->meta_tags) ? Is_Str::toUrl($post->meta_tags) : $post->alias)
            .'-'.$foto->path; ?>
        <? $img_alt = ''
            .((bool)trim($post->meta_description) ? $post->meta_description : $post->{'titulo_'.$this->lang})
            .' ['.$foto->path.']'; ?>
        <? $css = '';//'style="background-image:url('.$img.')"'; ?>
        <? $class = 'img'; ?>
        <? if($j==count($post->fotos)){ $class.= ' last'; } ?>
        <span class="<?=$class?>" <?=$css?>>
            <?/*<img src="<?=$img?>">*/?>
            <img src="<?=$img_url?>" alt="<?=$img_alt?>">
            <? if($j==1){ ?>
            <span class="cat"><?=$post->categoria->descricao_pt?></span>
            <? } // /if $j==1 ?>
        </span> 
        <? } // /if (bool)$post->fotos ?>

        <h4>MAIS NOTÍCIAS:</h4>
        <? $pages = $this->menu_blog->categorias->getPages(); ?>

        <ul class="cat-list">
            <? foreach($pages as $page){ ?>
            <? $active = $this->alias == $page->alias; ?>
            <li><a href="<?=$page->uri?>"><?=$page->label?></a></li>
            <? } ?>
        </ul>
    </aside>