<?
$js_path  = SCRIPT_MIN == 'load' ? JS_PATH.'/'  : '';
$css_path = SCRIPT_MIN == 'load' ? CSS_PATH.'/' : '';
$script_min = SCRIPT_MIN;
$js  = array($js_path.'libs.js',$js_path.'layout.js');//,$js_path.'alert2.js');//,$js_path.'is.shop.js');
$css = array($css_path.'global.less');

$page_title = '';
if(isset($this->titulo)){
    $page_title.= $this->titulo." - ";
    $page_title.= SITE_TITLE;
} else { 
    $page_title.= $this->controller != 'index'?ucfirst(Is_Str::subsCaracteres($this->controller," "))." - ":''; 
    $page_title.= SITE_TITLE;
}

if(!$this->meta_description) $this->meta_description = (bool)trim(SITE_DESCRIPTION) ? SITE_DESCRIPTION : $page_title;
if(!$this->meta_keywords) $this->meta_keywords = (bool)trim(SITE_KEYWORDS) ? SITE_KEYWORDS : Is_Str::text2keywords($this->meta_description,', ',10,'');

switch ($this->controller) {
    case 'comparativo':
        $js[]  = JS_PATH.'/swiper.min.js';
        $css[] = CSS_PATH.'/swiper.min.css';
        break;
}
?>

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><?=$page_title?></title>
<meta name="description" content="<?=$this->meta_description?>" />
<meta name="keywords" content="<?=$this->meta_keywords?>" />
<meta name="robots" content="index, follow" />
<? if($this->meta_canonical){ ?>
<link rel="canonical" href="<?=$this->meta_canonical?>" />
<? } ?>

<meta property="og:url" content="<?=$this->meta_og_url?$this->meta_og_url:URL?>"/>
<meta property="og:title" content="<?=$this->meta_og_title?$this->meta_og_title:$page_title?>"/>
<meta property="og:description" content="<?=$this->meta_og_description?$this->meta_og_description:$this->meta_description?>"/>
<meta property="og:image" content="<?=$this->meta_og_image?$this->meta_og_image:CSS_URL.'/img/facebook-share.png'?>"/>
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<link rel="image_src" href="<?=$this->meta_og_image?$this->meta_og_image:CSS_URL.'/img/facebook-share.png'?>" />

<script type="text/javascript">
var GLOBAL_URL = "<?=$this->url?>",
    URL        = "<?=URL?>",
    FULL_URL   = "<?=FULL_URL?>",
    ROOT_PATH  = "<?=ROOT_PATH?>",
    JS_PATH    = "<?=JS_PATH?>",
    CSS_PATH   = "<?=CSS_PATH?>",
    IMG_PATH   = "<?=IMG_PATH?>",
    DIR        = "<?=$this->section?>",
    MODULE     = "<?=$this->module?>",
    CONTROLLER = "<?=$this->controller?>",
    ACTION     = "<?=$this->action?>",
    SCRIPT     = <?=Js::exists($js_path.$this->controller) ? "\"{$this->controller}\"" : 'false'?>,
    APP_ENV    = <?=(APP_ENV) ? 'true' : 'false'?>,
    ENV_DEV    = <?=(ENV_DEV) ? 'true' : 'false'?>,
    ENV_PRO    = <?=(ENV_PRO) ? 'true' : 'false'?>,
    ENV_TEST   = <?=(ENV_TEST) ? 'true' : 'false'?>,
    ENV_STAG   = <?=(ENV_STAG) ? 'true' : 'false'?>,
    APPLICATION_ENV = "<?=APPLICATION_ENV?>";

if(!SCRIPT) SCRIPT = <?=Js::exists($js_path.$this->controller.'-'.$this->action) ? '"'.$this->controller.'-'.$this->action.'"' : 'false'?>;
</script>

<? $cssFonts = array(
    'Open+Sans:300,300i,400,400i,700,700i',
    'Open+Sans+Condensed:300,300i,400,400i,700,700i',
); ?>
<?/*<link href="https://fonts.googleapis.com/css?family=<?=implode('|',$cssFonts)?>" rel="stylesheet">*/?>
<!-- Code snippet to speed up Google Fonts rendering: googlefonts.3perf.com -->
<link rel="dns-prefetch" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
<link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Open+Sans+Condensed:300,300i,400,400i,700,700i" as="fetch" crossorigin="anonymous">
<script type="text/javascript">
!function(e,n,t){"use strict";var o="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Open+Sans+Condensed:300,300i,400,400i,700,700i",r="__3perf_googleFonts_967ba";function c(e){(n.head||n.body).appendChild(e)}function a(){var e=n.createElement("link");e.href=o,e.rel="stylesheet",c(e)}function f(e){if(!n.getElementById(r)){var t=n.createElement("style");t.id=r,c(t)}n.getElementById(r).innerHTML=e}e.FontFace&&e.FontFace.prototype.hasOwnProperty("display")?(t[r]&&f(t[r]),fetch(o).then(function(e){return e.text()}).then(function(e){return e.replace(/@font-face {/g,"@font-face{font-display:swap;")}).then(function(e){return t[r]=e}).then(f).catch(a)):a()}(window,document,localStorage);
</script>
<!-- End of code snippet for Google Fonts -->

<?=Css::$script_min($css).PHP_EOL?>
<!--[if lt IE 9]>
<?=Css::$script_min($css_path.'global-ie.css')?>
<?=Js::$script_min($js_path.'html5.js')?>
<![endif]-->
</head>
<body class=" body-<?=$this->controller?> body-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">

<?=$this->render("flash-messages.phtml");?>

<div class="top-bar top-bar-<?=$this->controller?>"></div>
<div id="top-container" class="top-container-<?=$this->controller?>">
    <header id="top" class="top-<?=$this->controller?> main-center">
        <a class="site-title" href="<?=URL?>/" title="<?=SITE_TITLE?>"><?=SITE_TITLE?></a>
        
        <button id="mobile-toggle" type="button" role="button" class="mobile">
            <span class="lines"></span>
        </button>
        <nav class="top-menu" id="top-menu">
            <?=$this->navigation()->menu($this->menu->top);?>
        </nav>
        <nav class="nav-social">
            <a href="<?=URL?>" class="social home" title="Home">Home</a>
            <a href="http://api.whatsapp.com/send?phone=55 <?=$this->dados->tel4?>" class="social wa" title="Whatsapp" target="_blank">Whatsapp</a>
            <a href="<?=$this->dados->facebook?>" class="social fb" title="Facebook" target="_blank">Facebook</a>
            <a href="<?=$this->dados->linkedin?>" class="social in" title="Linkedin" target="_blank">Linkedin</a>
            <a href="<?=$this->dados->instagram?>" class="social ig" title="Instagram" target="_blank">Instagram</a>
        </nav>
        <br clear="all">
    </header>
</div>
    
<div class="main main-<?=$this->controller?> main-<?=$this->controller.'-'.$this->action?> <?=($this->ajax ? 'ajax' : '')?>">
    <? if(($this->controller=='carros-leves' && $this->action=='index')){ ?>
    <a href="<?=URL?>/comparativo" class="bt-compare-top float <?=$this->countComparativo ? 'active' : ''?>">VER COMPARATIVO</a>
    <? } ?>

    <div id="content" class="content content-<?=$this->controller?> content-<?=$this->controller.'-'.$this->action?>">
        <article><?=$this->layout()->content;?></article>
        <!-- <br clear="all" /> -->
    </div>
</div>

<div class="foot foot-<?=$this->controller?> <?=($this->ajax ? 'ajax' : '')?>">
    <footer class="main-center">
        <nav class="nav-social">
            <img src="<?=CSS_PATH?>/img/marca-rodaverde-rodape.png" alt="<?=SITE_TITLE?>">
            <a href="tel:<?=@$this->dados->tel1?>" class="tel"><?=@$this->dados->tel1?></a>
            <a href="<?=$this->dados->facebook?>" class="social fb">Facebook</a>
            <a href="<?=$this->dados->linkedin?>" class="social in">Linkedin</a>
            <a href="<?=$this->dados->instagram?>" class="social ig">Instagram</a>
        </nav>
        <nav class="footer-menu">
            <?=$this->navigation()->menu($this->menu->top)->setUlClass('menut');?>
            <?=$this->navigation()->menu($this->menu->footer)->setUlClass('menuf');?>
        </nav>
        <br clear="all">
    </footer>
    <span class="credits">
        &copy; <?=date("Y")?> <?=SITE_TITLE?> - Todos os direitos reservados
        <span class="bar">||</span>
        <br class="mobile-cel">
        <a href="http://www.trupe.net" target="_blank">Criação de sites:</a>
        <a href="http://www.trupe.net" target="_blank">
            Trupe Agência Criativa
            <!-- <img src="<?=CSS_PATH?>/img/footer_icone-trupe.png" alt="Trupe Agência Criativa" title="Trupe Agência Criativa"> -->
        </a>
    </span>
</div>

<?=Js::$script_min($js).PHP_EOL?>


<? if(1 && (ENV_PRO||ENV_STAG) && defined('SITE_ANALYTICS')){ ?>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<?=SITE_ANALYTICS?>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<? } ?>


<? if(1 && (ENV_PRO||ENV_STAG) && defined('SITE_ADSENSE')){ ?>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script> (adsbygoogle = window.adsbygoogle || []).push({
google_ad_client: "<?=SITE_ADSENSE?>",
enable_page_level_ads: true
});
</script>
<? } ?>


</body>
</html>