<?=Css::load(CSS_PATH."/admin/fornecedores-fotos-fixas.less");?>
<?=Js::load(JS_PATH."/admin/fornecedores-fotos-fixas.js");?>

<script type="text/javascript">
var DIR = "<?=$this->section?>";
var URL = "<?=URL?>";
</script>

<!-- <h3>
    &raquo; IMAGEM PRINCIPAL
</h3> -->

<form action="<?=$this->url?>save-fotos-fixas" id="frm-fotos-fixas" enctype="multipart/form-data" method="post">

<ul id="fornecedores_fotos_fixas" class="list_fotos_fixas">
    <? //$foto = $this->section.'|'.$this->foto_fixa->{'foto'.$i}; ?>
    <? $img = ($this->row->foto_path) ? $this->row->foto_path : null; ?>
    <? $foto = (bool)$img ? '/'.$this->section.'/'.$img : '/not-found_90x90.jpg'; ?>
    <? $text = 'Logotipo'; ?>
    <li class="input-image-container">
        <? if((bool)@$foto){ ?>
        <div class="image">
            <!-- <img src="<?=URL.'/img/'.$foto.$foto_size?>" alt=""> -->
            <img src="<?=IMG_URL.$foto?>" alt="">
        </div>
        <input type="file" class="fileinput image" name="foto_id" id="foto_id" data-arquivo="Alterar imagem" data-button="<?=$text?>" />
        <? } else { ?>
        <input type="file" class="fileinput image" name="foto_id" id="foto_id" data-button="<?=$text?>" />
        <? } ?>
    </li>

    <? $hasImg2 = in_array($this->tipo, array('cr','ps')); ?>
    <? if($hasImg2){ ?>
    <? //$foto = $this->section.'|'.$this->foto_fixa->{'foto'.$i}; ?>
    <? $img = ($this->row->foto_path2) ? $this->row->foto_path2 : null; ?>
    <? $foto = (bool)$img ? '/'.$this->section.'/'.$img : '/not-found_90x90.jpg'; ?>
    <? $text = 'Imagem fundo'; ?>
    <li class="input-image-container">
        <? if((bool)@$foto){ ?>
        <div class="image">
            <!-- <img src="<?=URL.'/img/'.$foto.$foto_size?>" alt=""> -->
            <img src="<?=IMG_URL.$foto?>" alt="">
        </div>
        <input type="file" class="fileinput image" name="foto_id2" id="foto_id2" data-arquivo="Alterar imagem" data-button="<?=$text?>" />
        <? } else { ?>
        <input type="file" class="fileinput image" name="foto_id2" id="foto_id2" data-button="<?=$text?>" />
        <? } ?>
    </li>
    <? } // /if $this->tipo!='vp' ?>

    <li>
        <input type="submit" class="bt" id="submit-images" value="Salvar image<?=($this->tipo=='vp') ? 'm' : 'ns'?>" />
        <input type="hidden" name="fotos_fixas_id" value="<?=$this->id?>" />
        <input type="hidden" name="fornecedor_id" value="<?=$this->id?>" />
        <input type="hidden" name="fornecedor_tipo" value="<?=$this->tipo?>" />
        <input type="hidden" name="fornecedor_alias" value="<?=$this->row->alias?>" />
    </li>
</ul>

</form>