            <li class="txt" id="li_adicionais">
                <!-- <label>adicionais</label> -->
                <? $adcns = $this->row ? substr(@$this->row->adicionais,1,-1) : ''; ?>
                <input type="hidden" name="adicionais" id="adicionais" value="<?=$adcns?>">
                
                <ul class="list-adcns">
                    <? foreach($this->adcns as $adK => $adV){ ?>
                    <? $check = ''; ?>
                    <? if($this->row){
                        $chk = strstr($this->row->adicionais, ','.$adK.',');
                        if($chk){ $check = 'checked="checked"'; } 
                    } ?>
                    <li>
                        <label>
                            <input type="checkbox" class="chk" name="adicional[]" id="adicional_<?=$adK?>" value="<?=$adK?>" <?=$check?>>
                            <?=$adV?>
                        </label>
                    </li>
                    <? } // /for i<5 ?>
                </ul>
            </li>