<?=Css::load(CSS_PATH.'/admin/carros-concessionarias.less')?>
<?=Js::script('var CARCON = '.json_encode((array)$this->carcon_list).';')?>
<?=Js::script('var CONS = '.json_encode((array)$this->con_list).';')?>
<?=Js::load(JS_PATH.'/admin/carros-concessionarias.js')?>

<div class="carcon-status"></div>
<h3>&raquo; Concessionárias</h3>

<form action="" class="frm-carcon">
    <input type="text" class="txt" id="carcon-search" placeholder="Filtrar..." autocomplete="off" />
</form>

<ul class="carcon-list" id="carcon-car">
    <? if($this->con_list){ foreach($this->con_list as $con){ ?>
    <? $checked = in_array($con->id, $this->carcon_list) ? 'checked' : ''; ?>
    <li>
        <label>
            <input type="checkbox" class="carcon-chk" data-con="<?=$con->id?>" data-car="<?=$this->id?>" <?=$checked?> />
            <?=$con->titulo?>
        </label>
    </li>
    <? }} else { ?>
    <li>Nenhum registro encontrado</li>
    <? } ?>
</ul>
