<?/*=(bool)$this->cores?Js::script('var CORES = '.json_encode($this->cores).';'):""*/?>

<? if($this->id){ ?>
<div class="content-right">
    <div id="fotos_fixas">
        <?=$this->render($this->section.'/fotos-fixas.phtml');?>
    </div>
    <div id="fotos">
        <?=$this->render($this->section.'/fotos.phtml');?>
    </div>
    <div id="carcon">
        <?=$this->render($this->section.'/carros-concessionarias.phtml');?>
    </div>
    <?/*
    <div id="sugestoes">
        <?=$this->render($this->section.'/sugestoes.phtml');?>
    </div>
    */?>
</div>
<? } ?>

<? //$produto = $this->getHelper('produtos'); $produto->setInfo($this->info); ?>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>">
        <div class="tabs">
        <ul class="tabs-navigation">
            <li><a href="#frm-dados">Dados principais</a></li>
            <li><a href="#frm-detalhes">Detalhes</a></li>
            <li><a href="#frm-adicionais">Adicionais</a></li>
            <li><a href="#frm-obs">Observações</a></li>
        </ul>

        <!-- tab containers -->
        <? foreach($this->form->getElements() as $elm){ ?>
            
        <? if($elm->getId()=='tipo'){ ?>
        <div id="frm-dados" class="tabs-container"><ul>
        <? /*} else if($elm->getId()=='marca_id'){ ?>
        </ul></div><div id="frm-filtros" class="tabs-container"><ul>*/?>
        <? } else if($elm->getId()=='combustivel'){ ?>
        </ul></div><div id="frm-detalhes" class="tabs-container"><ul>
        <? } else if($elm->getId()=='info'){ ?>
        </ul></div><div id="frm-adicionais" class="tabs-container"><ul>
        <?=$this->render('produtos/adicionais.phtml')?>
        </ul></div><div id="frm-obs" class="tabs-container"><ul>
        <? } ?>

            <li class="<?=$elm->getAttrib("class")?>" id="li_<?=$elm->getId()?>">
                <? if(!in_array($elm->getId(),array('submit','status_id1'))){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <? if($elm->getId() == "categoria_id"){ ?>
                
                <? if((bool)$this->categoria_id){ ?>
                <? $i=-1; foreach($this->categoria_id as $cat_id){ $i++; ?>
                <span class="cat_field <?=($i==0)?'':'dup'?>" id="cat_field<?=($i==0)?'':'_'.$i?>">
                    <?=$elm->setValue($cat_id)->render();?>
                    <a href="#" class="add_cat" title="Adicionar outra categoria">+</a>
                    <a href="#" class="del_cat" title="Remover esta categoria">x</a>
                </span>
                <? } // foreach ?>
                <? } else { ?>
                <span class="cat_field" id="cat_field">
                    <?=$elm->render();?>
                    <a href="#" class="add_cat" title="Adicionar outra categoria">+</a>
                    <a href="#" class="del_cat" title="Remover esta categoria">x</a>
                </span>
                <? } // combo multiplo ?>

                <? } else { // /if categoria_id ?>
                <?=$elm->render();?>
                <? } ?>
                
                <? if(in_array($elm->getId(),array('peso'))){ ?>
                <span class="kg">kg</span>
                <? } ?>
                
                <? if(in_array($elm->getId(),array('autonomia_el','autonomia_el2','alcance_inv','alcance_ver'))){ ?>
                <span class="kg">km</span>
                <? } ?>
                
                <? if(in_array($elm->getId(),array('car_veloc_max_el'))){ ?>
                <span class="km">km/h</span>
                <? } ?>
                
                <? if($elm->getId() == "medida_c"){ ?>
                <span class="md">m</span>
                <? } ?>
            </li>

            <? /*if($elm->getId() == "assentos"){ ?>
            <?=$this->render('produtos/adicionais.phtml')?>
            <? }*/ ?>

            <? if($elm->getId() == "senha-c"){ ?>
            </ul></fieldset>
            <? } ?>
        <? } // /foreach elms ?>
        </ul>
        </div> <!-- /div tabs-dados -->
        </div> <!-- /div tabs -->
    
        <?/*<ul class="status_id_wrapper">
            <? $elm = $this->form->getElement('status_id'); ?>
            <li class="<?=$elm->getAttrib("class")?>" id="li_<?=$elm->getId()?>">
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <?=$elm->render();?>
            </li>
        </ul>*/?>

        <div class="bt-container">
            <input type="submit" class="bt" value="Salvar" id="submit" />
        </div>
    </form>
</div>