
<?
$js = array(
    JS_PATH.'/jquery.ui.min.js',
    // JS_PATH."/admin/jquery.fileupload.js",
    // JS_PATH."/admin/jquery.fileupload-ui.js",
    JS_PATH.'/jquery.tmpl.min.js',
    // JS_PATH."/jquery.fancybox-1.3.4.pack.js,"
    JS_PATH."/admin/produtos-ordenar.js",
);
$css = array(
    CSS_PATH.'/admin/jquery.fileupload-ui.css',
    CSS_PATH.'/admin/produtos-ordenar.less',
);
echo Css::load($css);
echo Js::load($js);
?>

<div id="<?=$this->section?>" class="form-list">
    <form action="<?=$this->url?>save-ordenar/" class="frm-<?=$this->section?>" method="post" enctype="multipart/form-data">
        <ul class="row-list">
            <li class="title">
                <span class="row-title">Produto</span>
                <span class="row-title row-title-2">Ordem</span>
                <!-- <span class="row-title row-title-5">Ativo</span> -->
            </li>
            <? if($this->produtos){ foreach($this->produtos as $row){ ?>
            <li>
                <!-- <?=$this->section?>:<?=$foto->path?> -->
                <!-- <a href="#" class="row-action row-action-del">Excluir</a> -->
                
                <span class="row-titulo"><?=$row->titulo?></span>
                
                <a href="#" class="row-order order-up" title="Clique ou arraste para ordenar"></a>
                <a href="#" class="row-order order-down" title="Clique ou arraste para ordenar"></a>
                <input type="hidden" class="row-id" name="id[]" value="<?=$row->id?>" />
                <input type="hidden" class="txt row-ordem" name="ordem[]" value="<?=$row->ordem?>" />
            </li>
            <? }} ?>
        </ul>
        
        <div class="row-tools">
            <!-- <a href="#" class="row-add">+ Adicionar categoria</a> -->
            <div class="row-status"><ul></ul></div>
        </div>
        
        <div class="bt-container">
            <input type="submit" class="bt" value="Salvar" id="submit" />
        </div>
    </form>
</div>