<div class="search-bar">
    <form action="<?=$this->url?>new/" method="get" class="order-form">
        <input type="submit" class="bt" value="+ Adicionar" />
    </form>
    
    <form action="<?=$this->url?>" method="get" class="search-form">
        <label for="search-by" class="search-label">Buscar por:</label>
        <?=$this->formSelect('search-by',@$_POST['search-by'],array('class'=>'txt'),array(
            "titulo"=>"Título",
            "cod"=>"Código",
            // "peso"=>"Peso",
            "valor"=>"Valor",
            "categoria_id"=>"Categoria",
            "role"=>"Tipo",
        ))?>
        <? if(@$_POST['search-by']=='categoria_id'){ echo $this->formSelect('search-txt',@$_POST['search-txt'],array('class'=>'txt','style'=>'width: 180px;'),$this->categorias); }
        else if(@$_POST['search-by']=='role'){ echo $this->formSelect('search-txt',@$_POST['search-txt'],array('class'=>'txt','style'=>'width: 180px;'),$this->roles); }
        else { echo $this->formText('search-txt',@$_POST['search-txt'],array('class'=>'txt')); }?>
        <input type="submit" class="bt" value="Enviar" />
    </form>
</div>