<?=Css::load(CSS_PATH.'/admin/voltagens.less')?>
<?=Js::script('var VOLTAGENS = '.json_encode((array)$this->voltagens).';')?>
<?=Js::load(JS_PATH.'/admin/voltagens.js')?>

<h3>&raquo; Voltagens</h3>

<form action="" class="frm-voltagens">
    <input type="text" class="txt" id="voltagens-search" />
    <input type="hidden" id="voltagens-id" />
    <input type="submit" class="bt" id="voltagens-submit" value="Ok" />
</form>

<ul class="voltagens-list">
    <? if($this->voltagens_list){ foreach($this->voltagens_list as $voltagem){ ?>
    <li><?=$voltagem->descricao?>
        <button class="ui-state-default ui-corner-all voltagens-delete" title="Delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" class="voltagens-id" value="<?=$voltagem->id?>" />
    </li>
    <? }} ?>
</ul>

<script type="text/x-jquery-tmpl" id="tmplVoltagens">
    <li>${value}
        <button class="ui-state-default ui-corner-all voltagens-delete" title="Delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <input type="hidden" class="voltagens-id" value="${id}" />
    </li>
</script>