<section id="error-soon" class="main-center">
	<h1><?=$this->titulo?></h1>
	<br>
	<p>
		Voltar para a Home:
	</p>
	<a href="<?=URL?>">
		<img src="<?=CSS_URL?>/img/logotipo.png" alt="<?=SITE_TITLE?>">
	</a>
	<br>
	<br>
</section>