<? $form_action = $this->parc_form_action ? $this->parc_form_action : $this->controller; ?>
<div id="forns-forms">
	<? foreach($this->forns as $row){ ?>
	<div class="forn-form" id="forn-form-<?=$row->id?>">
		<form action="<?=URL?>/<?=$form_action?>/enviar">
			<p class="titulo">
				Agendar contato comercial <br>
				<span><?=$row->titulo?></span>
			</p>

			<input type="text" class="txt" name="nome" id="nome" placeholder="nome">
			<input type="text" class="txt" name="email" id="email" placeholder="e-mail">
			<input type="text" class="txt mask-cel" name="telefone" id="telefone" placeholder="telefone">
			<textarea class="txt" name="mensagem" id="mensagem" placeholder="mensagem"></textarea>

			<input type="hidden" id="tema_id" name="tema_id" value="<?=$row->id?>">
			<input type="hidden" id="tema" name="tema" value="<?=$row->titulo?>">
			<input type="submit" class="hidden">
			<a href="#" class="submit">Enviar</a>
			<p class="status"></p>
		</form>
	</div>
	<? } // /foreach this->forns ?>
</div>