<div id="<?=$this->controller?>-content" class="main-center">

<h1>PARCEIROS</h1>

<? foreach($this->parcs as $parcK => $parc){ ?>
<? $this->parc_alias = $parcK; ?>
<? $this->parc_title = $parc->categoria; ?>
<? $this->parc_rows  = $parc->rows; ?>
<? $this->parc_area  = 6; ?>
<?=$this->render('parceiros/list3.phtml')?>
<br clear="all">
<? } // /foreach this->parcs ?>


<? $this->parc_alias = 'paineis'; ?>
<? $this->parc_title = 'PAINÉIS SOLARES'; ?>
<? $this->parc_rows  = $this->paineis; ?>
<? $this->parc_area  = 5; ?>
<?=$this->render('parceiros/list3.phtml')?>

<br clear="all">

<? $this->parc_alias = 'carregadores'; ?>
<? $this->parc_title = 'CARREGADORES'; ?>
<? $this->parc_rows  = $this->carregs; ?>
<? $this->parc_area  = 4; ?>
<?=$this->render('parceiros/list3.phtml')?>

<br clear="all">

<? $this->parc_alias = 'concessionarias'; ?>
<? $this->parc_alias2= 'concessionarias'; ?>
<? $this->parc_title = 'CONCESSIONÁRIAS'; ?>
<? $this->parc_rows  = $this->cons; ?>
<? $this->parc_area  = 2; ?>
<?=$this->render('parceiros/list3.phtml')?>

</div>