<div id="<?=$this->controller?>-content" class="main-center">

<h1>PARCEIROS</h1>

<? $this->parc_alias = 'patrocinadores'; ?>
<? $this->parc_title = 'PATROCINADORES'; ?>
<? $this->parc_rows  = $this->patrs; ?>
<?=$this->render('parceiros/list3.phtml')?>

<br clear="all">

<? $this->parc_alias = 'montadoras'; ?>
<? $this->parc_title = 'MONTADORAS'; ?>
<? $this->parc_rows  = $this->monts; ?>
<?=$this->render('parceiros/list3.phtml')?>

<br clear="all">

<? $this->parc_alias = 'paineis'; ?>
<? $this->parc_title = 'PAINÉIS SOLARES'; ?>
<? $this->parc_rows  = $this->paineis; ?>
<?=$this->render('parceiros/list3.phtml')?>

<br clear="all">

<? $this->parc_alias = 'carregadores'; ?>
<? $this->parc_title = 'CARREGADORES'; ?>
<? $this->parc_rows  = $this->carregs; ?>
<?=$this->render('parceiros/list3.phtml')?>

<br clear="all">

<? $this->parc_alias = 'concessionarias'; ?>
<? $this->parc_alias2= 'concessionarias'; ?>
<? $this->parc_title = 'CONCESSIONÁRIAS'; ?>
<? $this->parc_rows  = $this->cons; ?>
<?=$this->render('parceiros/list3.phtml')?>

</div>