<section id="<?=$this->parc_alias?>" class="parceiros parceiros3">
	<? if((bool)trim($this->parc_title)){ ?>
	<h3><?=$this->parc_title?></h3>
	<? } // /if (bool)trim($this->parc_title) ?>

	<ul class="parceiros-list" id="<?=$this->parc_alias?>-list">
		<? $j=0; for($i=0;$i<(ENV_DEV?6:1);$i++) foreach($this->parc_rows as $row){ $j++; ?>
		<? $img = ((bool)trim($row->foto_path)) ? IMG_URL.'/'.(($this->parc_alias2) ? $this->parc_alias2 : 'fornecedores').'/'.$row->foto_path : null; ?>
		<? $bg  = ($img) ? 'style="background-image:url('.$img.')"' : null; ?>
		<? $class = 'class="'; ?>
		<? if($j%4==0){ $class.= 'last-desk'; } ?>
		<? if($j%3==0){ $class.= 'last-tab'; } ?>
		<? $class.= '"'; ?>
		<li <?=$class?>>
			<a href="<?=$row->site?>" 
			   <? if($this->parc_area){ ?>
			   data-area="<?=$this->parc_area?>"
			   <? } // /if $this->parc_area ?>
			   data-temaid="<?=$row->id?>"
			   data-tema="<?=$row->titulo?>"
			   class="forn-site rel-click" 
			   target="_blank" 
			   title="<?=$row->titulo?>">
			<span class="img" <?=$bg?>>
				<img src="<?=$img?>" alt="<?=$row->titulo?>">
			</span>

			<? if($this->parc_alias=='fornecedores----'){ ?>
			<!-- <b><?=$row->titulo?></b> -->

			<?=$row->body?>

			<a href="<?=$row->site?>" class="visitar-site" target="_blank">
				Visitar site do fornecedor
			</a>
			<? } // /if this->parc_alias=='fornecedores' ?>
			
			</a>
		</li>
		<? } // /foreach this->parc_rows ?>
	</ul>
</section>