<h1><?=$this->titulo?></h1>

<div class="content-text">
    <div class="text">
        <a href="tel:<?=@$this->dados->tel1?>" class="tel"><?=@$this->dados->tel1?></a>
    </div>

    <form action="" class="contato" method="post">
        <ul class="first">
            <li class="li-nome">
                <input type="text" name="nome" id="nome" class="txt required" placeholder="nome" />
            </li>
            <li class="li-email">
                <input type="text" name="email" id="email" class="txt required" placeholder="e-mail" />
            </li>
            <li class="li-telefone half half-1">
                <input type="text" name="telefone" id="telefone" class="txt mask-cel" placeholder="telefone" />
            </li>
        </ul>
        <ul class="second">
            <li class="li-mensagem">
                <textarea name="mensagem" id="mensagem" class="txt required" placeholder="mensagem"></textarea>
            </li>
            <li class="submit-container">
                <input type="submit" class="hidden" value="Enviar">
                <a href="#" class="submit">Enviar</a>
                <p class="status"></p>
            </li>
        </ul>
    </form>

    <br clear="all" />
</div>