<?=Css::load(CSS_PATH.'/admin/marcas-concessionarias.less')?>
<?=Js::script('var MARCON = '.json_encode((array)$this->marcon_list).';')?>
<?=Js::script('var MARS = '.json_encode((array)$this->mar_list).';')?>
<?=Js::load(JS_PATH.'/admin/marcas-concessionarias.js')?>

<div class="marcon-status"></div>
<h3>&raquo; Marcas</h3>

<form action="" class="frm-marcon">
    <input type="text" class="txt" id="marcon-search" placeholder="Filtrar..." autocomplete="off" />
</form>

<ul class="marcon-list" id="marcon-con">
    <? if($this->mar_list){ foreach($this->mar_list as $mar){ ?>
    <? $checked = in_array($mar->id, $this->marcon_list) ? 'checked' : ''; ?>
    <li>
        <label>
            <input type="checkbox" class="marcon-chk" data-mar="<?=$mar->id?>" data-con="<?=$this->id?>" <?=$checked?> />
            <?=$mar->descricao?>
        </label>
    </li>
    <? }} else { ?>
    <li>Nenhum registro encontrado</li>
    <? } ?>
</ul>
