<div class="search-bar">
    <? if(@$this->login_permissoes[@$this->section]->w){ ?>
    <form action="<?=$this->url?>new/" method="get" class="order-form">
        <? if((bool)$this->tipo){ ?>
        <input type="hidden" name="tipo" value="<?=$this->tipo?>">
        <? } // /if (bool)$this->tipo ?>
        <input type="submit" class="bt" value="+ Adicionar" />
    </form>
    <? } ?>
    
    <form action="" method="get" class="search-form">
        <label for="search-by" class="search-label">Buscar por:</label>
        <?=$this->formSelect('search-by',@$_POST['search-by'],array('class'=>'txt'),array(
            "titulo" => "Nome",
            "tipo"   => 'Categoria',
        ))?>
        <?//=$this->formText('search-txt',@$_POST['search-txt'],array('class'=>'txt'))?>
        <?=@$_POST['search-by']=='tipo'?
            $this->formSelect('search-txt',@$_POST['search-txt'],array('class'=>'txt','style'=>'width: 180px;'),$this->tipos):
            $this->formText('search-txt',@$_POST['search-txt'],array('class'=>'txt'))?>
        <input type="submit" class="bt" value="Enviar" />
    </form>
</div>