<?=Css::loadLess(CSS_PATH."/admin/paginas-tabela-de-medidas.less");?>
<?=Js::load(JS_PATH."/admin/paginas-tabela-de-medidas.js");?>
<?=Js::load(JS_PATH."/jquery.tmpl.min.js");?>

<? $campos = $this->tabelas_medidas->getCampos(); ?>
<?=Js::script('var MEDIDAS_CAMPOS = '.json_encode($campos).';');?>

<script type="text/javascript">
var DIR = "<?=$this->section?>";
var URL = "<?=URL?>";
</script>

<div class="tools">
    <a href="#" class="add">+ Adicionar tamanho</a>
    <h3 class="no-margin">TABELA DE MEDIDAS</h3>
</div>

<? if($this->medidas){ ?>
<table class="table-info table-medidas">
    <thead>
        <tr>
            <td><b>Tamanho</b></td>
            <? foreach($this->medidas as $linha){ ?>
            <td>
                <input type="text" class="txt" name="medidas[tamanho][]" id="medidas_tamanho_<?=$linha->id?>" value="<?=$linha->tamanho?>" />
            </td>
            <? } ?>
        </tr>
    </thead>
    <tbody>
        <? foreach($campos as $key => $value){ ?>
        <tr data-campo="<?=$key?>">
            <td>
                <?=$value?>
                <!-- <input type="hidden" name="medidas[tabela_medida_id][]" id="medidas_tabela_medida_id_<?=$linha->id?>" value="<?=$linha->tabela_medida_id?>" /> -->
                <!-- <input type="hidden" name="medidas[item][]" id="medidas_item_<?=$linha->id?>" value="<?=$linha->item?>" /> -->
            </td>
            <? foreach($this->medidas as $linha){ ?>
            <td>
                <?//=$linha->{$key}?>
                <input type="text" class="txt" name="medidas[<?=$key?>][]" id="medidas_<?=$key?>_<?=$linha->id?>" value="<?=$linha->{$key}?>" />
                <input type="hidden" name="medidas[id][<?=$linha->id-1?>]" class="medidas-id" id="medidas_id_<?=$linha->id?>" value="<?=$linha->id?>" />
            </td>
            <? } ?>
        </tr>
        <? } ?>

        <? /*foreach($this->medidas as $linha){ ?>
        <tr>
            <td>
                <?=$linha->item?>
                <input type="hidden" name="medidas[id][]" id="medidas_id_<?=$linha->id?>" value="<?=$linha->id?>" />
                <input type="hidden" name="medidas[tabela_medida_id][]" id="medidas_tabela_medida_id_<?=$linha->id?>" value="<?=$linha->tabela_medida_id?>" />
                <input type="hidden" name="medidas[item][]" id="medidas_item_<?=$linha->id?>" value="<?=$linha->item?>" />
            </td>
            <td><input type="text" class="txt" name="medidas[tam_pp][]" id="medidas_tam_pp_<?=$linha->id?>" value="<?=$linha->tam_pp?>" /></td>
            <td><input type="text" class="txt" name="medidas[tam_p][]" id="medidas_tam_p_<?=$linha->id?>" value="<?=$linha->tam_p?>" /></td>
            <td><input type="text" class="txt" name="medidas[tam_m][]" id="medidas_tam_m_<?=$linha->id?>" value="<?=$linha->tam_m?>" /></td>
            <td><input type="text" class="txt" name="medidas[tam_g][]" id="medidas_tam_g_<?=$linha->id?>" value="<?=$linha->tam_g?>" /></td>
            <td><input type="text" class="txt" name="medidas[tam_gg][]" id="medidas_tam_gg_<?=$linha->id?>" value="<?=$linha->tam_gg?>" /></td>
        </tr>
        <? }*/ ?>
    </tbody>
    <tfoot>
        <tr>
            <td>&nbsp;</td>
            <? foreach($this->medidas as $linha){ ?>
            <td>
                <a href="#" class="del">Excluir</a>
            </td>
            <? } ?>
        </tr>
    </tfoot>
</table>
<? } ?>