<div id="<?=$this->controller?>-content" class="main-center">

<h1>VEÍCULOS PESADOS</h1>

<? $img = (bool)trim(@$this->pagina->fotos_fixas->foto1) ? 
		  IMG_URL.'/paginas/'.$this->pagina->fotos_fixas->foto1 : 
		  null; ?>
<? $img_url = URL.'/img/paginas:'
	.((bool)trim($this->pagina->meta_tags) ? Is_Str::toUrl($this->pagina->meta_tags) : $this->pagina->alias)
	.'-'.$this->pagina->fotos_fixas->foto1; ?>
<? $img_alt = ''
	.((bool)trim($this->pagina->meta_description) ? $this->pagina->meta_description : $this->pagina->titulo)
	.' ['.$this->pagina->fotos_fixas->foto1.']'; ?>
<? if($img){ ?>
<figure class="img-pagina">
	<?/*<img src="<?=$img?>" alt="<?=$this->pagina->titulo?>">*/?>
	<img src="<?=$img_url?>" alt="<?=$img_alt?>">
</figure>
<? } // /if $img ?>

<div class="body">
	<?=$this->pagina->body?>
</div>

<br clear="all">

<? $this->parc_alias = 'fornecedores'; ?>
<? $this->parc_title = 'FORNECEDORES'; ?>
<? $this->parc_rows  = $this->forns; ?>
<? $this->parc_area  = 3; ?>
<?=$this->render('parceiros/list.phtml')?>

<?=$this->render('parceiros/forms.phtml')?>

</div>