<link rel="stylesheet" href="<?=CSS_PATH?>/admin/print.css" media="print" />

<!-- <h2 class="title">
	<form action="" class="frm-relatorio-select" method="get">
		<label for="relatorio_tipo">Tipo de relatório:</label>
		<?=$this->formSelect('relatorio_tipo',$this->relatorio_tipo,array('class'=>'txt'),$this->relatorio_tipos)?>
	</form>
</h2> -->

<?=$this->render('relatorios/relatorio-'.$this->relatorio_tipo.'.phtml');?>