<?
$filter = array();
$filter2 = array();
?>

<div class="filter-forms">
    <!-- <span class="total">
        <? $total = count($this->rows); ?>
        <?=$total==0?'Nenhum':$total?> registro<?=$total>1?'s':''?>.
    </span> -->

    <!-- <form action="" class="frm-order" method="get">
        Ordenar por: 
        <?=$this->formSelect('order',@$this->params['order'],array('class'=>'txt'),array(
          'u.data_cad desc' => 'Data',
          'count_records desc' => 'Nº de cadastros',
        ))?>
        <input type="hidden" name="relatorio_tipo" value="<?=$this->relatorio_tipo?>" />
        <input type="submit" class="submit" value="&raquo;" />
    </form> -->

    <div class="export">
        <a href="<?=export_url($this->section,'csv')?>" class="csv" title="Exportar para Excel">Exportar para Excel</a>
        <!-- <a href="<?=export_url($this->section,'pdf')?>" class="pdf" title="Exportar para PDF">Exportar para PDF</a> -->
        <a href="#" class="print" title="Imprimir">Imprimir</a>
    </div>

    <form action="" class="frm-filter" method="get">
        <?=$this->formSelect('area_id',@$_GET['area_id'],array('class'=>'txt'),$this->mensagens)?>        
        de:
        <input type="text" name="data_from" id="data_from" class="txt mask-date" value="<?=@$this->params['data_from']?>" />
        até:
        <input type="text" name="data_to" id="data_to" class="txt mask-date" value="<?=@$this->params['data_to']?>" />
        <input type="hidden" name="relatorio_tipo" value="<?=$this->relatorio_tipo?>" />
        <input type="submit" class="submit" value="&raquo;" />
    </form>

    <!-- <form action="" class="frm-busca frm-busca-relatorio1">
        <input type="text" name="busca" id="busca" class="txt prevalue" data-prevalue="Buscar por CRM, Médico ou Representante" />
        <input type="hidden" name="relatorio_tipo" value="<?=$this->relatorio_tipo?>" />
        <input type="submit" class="submit" value="&raquo;" />
    </form> -->
</div>

<? if(count($this->rows)){ $total = 0; ?>
<div class="pousada search-result">
<table class="tbl adm">
    <thead>
        <tr>
            <td class="titulo">Área</td>
            <td width="70" class="titulo" align="center">Data</td>
            <td width="70" class="data_cad" align="center">Clicks</td>
        </tr>
    </thead>
    <tbody>
        <? foreach($this->rows as $row){ ?>
        <tr>
            <td class="searcheable"><?=@$row->area?> - <?=$row->tema?></td>
            <td class="searcheable" align="center"><?=Is_Date::am2br($row->data)?></td>
            <td class="searcheable" align="center"><?=$row->clicks_total?></td>
        </tr>
        <? } ?>
    </tbody>
</table>

</div>
<? } else { ?>
Nenhum registro.
<? } ?>