<?
$filter = array();
$filter2 = array();
?>

<div class="filter-forms">
    <!-- <span class="total">
        <? $total = count($this->rows); ?>
        <?=$total==0?'Nenhum':$total?> registro<?=$total>1?'s':''?>.
    </span> -->

    <!-- <form action="" class="frm-order" method="get">
        Ordenar por: 
        <?=$this->formSelect('order',@$this->params['order'],array('class'=>'txt'),array(
          'u.data_cad desc' => 'Data',
          'count_records desc' => 'Nº de cadastros',
        ))?>
        <input type="hidden" name="relatorio_tipo" value="<?=$this->relatorio_tipo?>" />
        <input type="submit" class="submit" value="&raquo;" />
    </form> -->

    <div class="export">
        <a href="<?=export_url($this->section,'csv')?>" class="csv" title="Exportar para Excel">Exportar para Excel</a>
        <!-- <a href="<?=export_url($this->section,'pdf')?>" class="pdf" title="Exportar para PDF">Exportar para PDF</a> -->
        <a href="#" class="print" title="Imprimir">Imprimir</a>
    </div>

    <form action="" class="frm-filter" method="get">        
        De:
        <input type="text" name="data_from" id="data_from" class="txt mask-date" value="<?=@$this->params['data_from']?>" />
        até:
        <input type="text" name="data_to" id="data_to" class="txt mask-date" value="<?=@$this->params['data_to']?>" />
        <input type="hidden" name="relatorio_tipo" value="<?=$this->relatorio_tipo?>" />
        <input type="submit" class="submit" value="&raquo;" />
    </form>

    <!-- <form action="" class="frm-busca frm-busca-relatorio1">
        <input type="text" name="busca" id="busca" class="txt prevalue" data-prevalue="Buscar por CRM, Médico ou Representante" />
        <input type="hidden" name="relatorio_tipo" value="<?=$this->relatorio_tipo?>" />
        <input type="submit" class="submit" value="&raquo;" />
    </form> -->
</div>

<? if(count($this->rows)){ ?>
<? $total_valor = 0; $total_taxas = 0; $total_total = 0; ?>
<? $media_valor = array(); $media_taxas = array(); $media_total = array(); ?>
<div class="pousada search-result">
<table class="tbl adm">
    <thead>
        <tr>
            <td class="titulo">Data da compra</td>
            <td width="70" class="titulo" align="center">Valor</td>
            <td width="70" class="data_cad" align="center">Taxas</td>
            <td width="70" class="data_cad" align="center">Total</td>
        </tr>
    </thead>
    <tbody>
        <? foreach($this->rows as $row){ ?>
        <tr>
            <td class="searcheable">
                <a href="<?=URL.'/admin/acompanhamento/pedidos?id='.$row->id?>">
                    <?=Is_Date::am2brWithTime($row->data_cad,' - ',':')?>
                </a>
            </td>
            <td class="searcheable" align="center"><?=$row->valor?></td>
            <td class="searcheable" align="center"><?=$row->taxas?></td>
            <td class="searcheable" align="center"><?=$row->valor+$row->taxas?></td>

            <? $total_valor+= $row->valor; $total_taxas+= $row->taxas; $total_total+= $row->valor + $row->taxas; ?>
            <? $media_valor[]= $row->valor; $media_taxas[]= $row->taxas; $media_total[]= $row->valor + $row->taxas; ?>
        </tr>
        <? } ?>
    </tbody>
</table>

<!--<div class="totais-pedidos">
    <span class="titulo titulo-total">total</span>
    <span class="titulo titulo-taxas">taxas</span>
    <span class="titulo titulo-valor">valor</span>
</div>-->

<div class="totais-pedidos">
    <b>Média:</b>
    <span class="media-total"><?=number_format(Is_Math::avg($media_total),2,',','.')?></span>
    <span class="media-taxas"><?=number_format(Is_Math::avg($media_taxas),2,',','.')?></span>
    <span class="media-valor"><?=number_format(Is_Math::avg($media_valor),2,',','.')?></span>
</div>

<div class="totais-pedidos">
    <b>Totais:</b>
    <span class="total-total"><?=number_format($total_total,2,',','.')?></span>
    <span class="total-taxas"><?=number_format($total_taxas,2,',','.')?></span>
    <span class="total-valor"><?=number_format($total_valor,2,',','.')?></span>
</div>

</div>
<? } else { ?>
Nenhum registro.
<? } ?>